input[type=checkbox] {
	transform: scale(2);
	margin: 0 10px 2px 10px;
	}

span {
	-webkit-animation: blink 1s ease-in-out infinite alternate;
	animation: blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

input[type=button] {
	font-weight: bold;
	display: inline-block;
	padding: 0.2em 0.8em;
	background-color: #e3364a; /* 背景色 */
	box-shadow: 0 5px 0 #ca1c30; /* 影の太さ・色 */
	border-radius: 60px;
	color: #fff;
	cursor: pointer;
	text-decoration: none; /* 文字の下線を消す */
	}

input[type=button]:active {
	box-shadow: none;
	transform: translateY(5px);
	}
